<!DOCTYPE html>
<partial name="_CopyrightHeader" />
<html lang="en">
<head>
    <partial name="_Head" />
    @RenderSection("Header", required: false)
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner bg-brand-gradient">
            <div class="page-content-wrapper bg-transparent m-0">
                @*<partial name="_LoginPageHeader" />*@
               
                <div class="flex-1" style="background-color: white !important ;background: url('/img/backgrounds/pexels-photo-1366957.jpeg') no-repeat center bottom fixed; background-size: cover;">
                    @*<div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                        <div class="d-flex flex-row">
                            <a href="https://www.facebook.com/LGTVPhilippines" class="ml-auto fs-xxl" style="color: #708fd0;">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://twitter.com/lgphilippines" class="ml-2 fs-xxl" style="color: #38A1F3">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="https://www.youtube.com/user/myLifesGoodPH" class="ml-2 fs-xxl" style="color: #38A1F3">
                                <i class="fab fa-youtube-square"></i>
                            </a>
                            <a href="https://www.instagram.com/lgphilippines/" class="ml-2 mr-2 fs-xxl" style="color: #38A1F3">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>*@
                    <div class="container py-4 my-lg-5 px-4 px-sm-0 align-self-center">
                        <div class="row">
                            @RenderSection("PageHeading", required: false)
                            @RenderBody()
                        </div>
                    </div>
                    @*<partial name="_LoginPageFooter" />*@
                    <partial name="_ColorProfileReference" />
                </div>
            </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    <partial name="_GoogleAnalytics" />
    <partial name="_ScriptsBasePlugins" />
    @RenderSection("Scripts", required: false)
</body>
</html>