<div class="d-block text-center text-white">
    2020 © Sales Management System by&nbsp;<a href="https://www.trudi.tech/" class="text-white opacity-40 fw-500" title="gotbootstrap.com" target="_blank">trudi.tech</a>
</div>