@model Dictionary<string, object>


@foreach(KeyValuePair<string, object> entry in Model)
{
    <div class="form-group row ml-6">
        <div class="col-12 col-lg-4">
            <label class="form-label">@entry.Key</label>
        </div>
        <div class="col-12 col-lg-8">
            @Html.Display(entry.Key, entry.Value)
        </div>
    </div>
}

